<div class='row'>
  <div class='span8'>
    <!--
    <div style='float: right;'>
      <button class="btn">Add column</button>
    </div>
    -->
    <h1>High scores (past week)</h1>
    <table class='table table-striped table-condensed'>
      <thead>
        <tr>
          <th>Score</th>
          <th>Player</th>
          <th>Race + Background</th>
          <th>
	    <div class="dropdown">
	      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">God</a>
	      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
		<li><a href="#">Sort</a></li>
		<li class="dropdown-submenu">
		  <a href="#" tabindex="-1">Filter</a>
		  <ul class="dropdown-menu">
		    <li><a href="/"><i class="icon-remove"></i> None</a></li>
		    <% for god in DCSS::GODS %>
		    <li><a href="?god=<%= god %>"><%= god %></a></li>
		    <% end %>
		  </ul>
		</li>
	      </ul>
	    </div>
	  </th>
          <th>XL</TH>
        </tr>
      </thead>
      <tbody>
        <% for game in @games_by_score %>
        <tr>
          <td><%= link_to game.score, game_path(game) %></td>
          <td><%= player(game) %> the <%= game.title %></td>
          <td><%= game.race %> <%= game.background %></td>
          <td><%= game.god %></td>
          <td><%= game.xl %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @games_by_score %>
  </div>
  <div class='span4'>
    <h3>Recent games</h3>

    <table class='table table-striped table-condensed'>
      <thead>
        <tr>
          <th>Score</th>
          <th>Player</th>
          <th>XL</TH>
          <th>R+B</th>
        </tr>
      </thead>
      <tbody>
        <% for game in @games_by_date %>
        <tr>
          <td><%= link_to game.score, game_path(game) %></td>
          <td><%= link_to game.character, user_player_path(game.player.user, game.player) %></td>
          <td><%= game.xl %></td>
          <td><abbr title="<%= game.race %> <%= game.background %>"><%= combo_abbr(game) %></abbr></td>
         </tr>
        <% end %>
      </tbody>
    </table>

    <h3>Most popular combo</h3>
    <ol>
      <% for combo in @popular_combos %>
        <li><strong><%= combo[:race] %></strong> <em><%= combo[:count] %></em>
      <% end %>
    </ol>
  </div>
</div>
