<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game %><br />
    <%= f.text_field :game %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.text_field :start_time %>
  </div>
  <div class="field">
    <%= f.label :score %><br />
    <%= f.text_field :score %>
  </div>
  <div class="field">
    <%= f.label :race %><br />
    <%= f.text_field :race %>
  </div>
  <div class="field">
    <%= f.label :background %><br />
    <%= f.text_field :background %>
  </div>
  <div class="field">
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </div>
  <div class="field">
    <%= f.label :lv %><br />
    <%= f.text_field :lv %>
  </div>
  <div class="field">
    <%= f.label :character %><br />
    <%= f.text_field :character %>
  </div>
  <div class="field">
    <%= f.label :xl %><br />
    <%= f.text_field :xl %>
  </div>
  <div class="field">
    <%= f.label :skill %><br />
    <%= f.text_field :skill %>
  </div>
  <div class="field">
    <%= f.label :sk_lev %><br />
    <%= f.text_field :sk_lev %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :place %><br />
    <%= f.text_field :place %>
  </div>
  <div class="field">
    <%= f.label :branch %><br />
    <%= f.text_field :branch %>
  </div>
  <div class="field">
    <%= f.label :lvl %><br />
    <%= f.text_field :lvl %>
  </div>
  <div class="field">
    <%= f.label :ltyp %><br />
    <%= f.text_field :ltyp %>
  </div>
  <div class="field">
    <%= f.label :hp %><br />
    <%= f.text_field :hp %>
  </div>
  <div class="field">
    <%= f.label :maxhp %><br />
    <%= f.text_field :maxhp %>
  </div>
  <div class="field">
    <%= f.label :maxmaxhp %><br />
    <%= f.text_field :maxmaxhp %>
  </div>
  <div class="field">
    <%= f.label :str %><br />
    <%= f.text_field :str %>
  </div>
  <div class="field">
    <%= f.label :int %><br />
    <%= f.text_field :int %>
  </div>
  <div class="field">
    <%= f.label :dex %><br />
    <%= f.text_field :dex %>
  </div>
  <div class="field">
    <%= f.label :god %><br />
    <%= f.text_field :god %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
  </div>
  <div class="field">
    <%= f.label :turn %><br />
    <%= f.text_field :turn %>
  </div>
  <div class="field">
    <%= f.label :runes %><br />
    <%= f.text_field :runes %>
  </div>
  <div class="field">
    <%= f.label :killertype %><br />
    <%= f.text_field :killertype %>
  </div>
  <div class="field">
    <%= f.label :killer %><br />
    <%= f.text_field :killer %>
  </div>
  <div class="field">
    <%= f.label :damage %><br />
    <%= f.text_field :damage %>
  </div>
  <div class="field">
    <%= f.label :piety %><br />
    <%= f.text_field :piety %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.text_field :end_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
