<% if request.fullpath =~ %r{/tournament} %>
<h1>Tournament 0.13 <small>(<em><a href="http://dobrazupa.org/tournament/0.13/">info</a></em>)</small></h1>
<% else %>
<h1>Recent games <%= render 'shared/period_filter' %></h1>
<% end %>

<div class='games-listing'>
  <%= render 'shared/selections' %>
  <table class='table table-striped table-condensed'>
    <thead>
      <tr>
        <th><%= link_to_with 'Score', 'sort' => 'score' %></th>
        <th>Player</th>
        <th><%= render partial: 'shared/column_filter',
                locals: { column: 'Race', filterables: DCSS.races, param: 'race' }
                %>
        </th>
        <th><%= render partial: 'shared/column_filter',
                locals: { column: 'Background', filterables: DCSS.backgrounds, param: 'background' }
                %>
        </th>
        <th><%= render partial: 'shared/column_filter',
                locals: { column: 'God', filterables: DCSS.gods, param: 'god' }
                %>
        </th>
        <th><abbr title="Experience Level">XL</abbr></th>
        <th>Killer</TH>
      </tr>
    </thead>
    <tbody>
      <% for game in @games %>
      <tr>
        <td><%= link_to number_with_delimiter(game.score), game_path(game) %>
          <% if game.won %><i class="icon-star" title="Won!"></i><% end %></td>
        <td><%= player_link(game) %> the <%= game.title %></td>
        <td><%= link_to_with game.race, 'race' => game.race %></td>
        <td><%= link_to_with game.background, 'background' => game.background %></td>
        <td><%= game.god ? link_to_with(game.god, 'god' => game.god) : '-' %></td>
        <td><%= game.xl %></td>
        <td><%= if game.killer
                  link_to_with game.killer, 'killer' => game.killer
                else
                  link_to_with game.ending, 'ending' => game.terse_ending
                end %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @games %>
</div>
