<h1>Recent games</h1>

<%# TODO Make this a partial %>
<table class='table table-striped table-condensed'>
  <thead>
    <tr>
      <th>Score</th>
      <th>Player</th>
      <th>Race</th>
      <th>Background</th>
      <th>God</th>
      <th>XL</TH>
      <th>Killer</TH>
    </tr>
  </thead>
  <tbody>
    <% for game in @games %>
    <tr>
      <td><%= link_to game.score, game_path(game) %>
      <% if game.won %><i class="icon-star" title="Won!"></i><% end %></td>
      <td><%= player(game) %> the <%= game.title %></td>
      <td><%= game.race %></td>
      <td><%= game.background %></td>
      <td><%= game.god || '-' %></td>
      <td><%= game.xl %></td>
      <td><%= game.killer || '-' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @games %>
