<p id="notice"><%= notice %></p>

<div class='row'>
  <div class='span8'>
    <div style='display: none;'><%= @game.morgue %></div>

    <div id=announce'>
      <h1><%= player @game %> the <abbr title="Experience Level">XL</abbr><%= @game.level %> <abbr title="<%= @game.race + ' ' + @game.background %>"><%= @game.combo %></abbr> <%= @game.title %></h1>
      <h2><%= @game.ending %></h2>
      <h2>with <%= @game.score %>
	<% if @game.won %>
	holding the <em><%= @game.rune_list.to_sentence %></em> runes
	<% else %>
	at <%= @game.place %>
	<% end %></h2>
      <h2>It took <%= @game.turns %> turns in <%= @game.duration %></h2>
      <!-- Link to subsections with more details further down -->
      <% if @game.god %><h3>Worshipper of <%= @game.god %></h3><% end %>
    </div>

    <div id='status'>
      <% equipped = @game.equipped
	 if equipped['weapon'] %>
        <h4>Wielding <span class='equipped'><%= @game.inventory[ equipped['weapon'] ]['item'] %></span></h4>
      <% end %>
      <h4>Was <%= @game.character_state.to_sentence %></h4>
      <% if @game.character_features != 'no striking features' %>
        <h4>Had <%= @game.character_features.to_sentence %></h4>
      <% end %>
      <% if @game.character_features != 'no special abilities' %>
        <h4>Could <%= @game.character_abilities.to_sentence %></h4>
      <% end %>

      <% if equipped.values.select{|e| e.nil?}.length %>
      <dl>
	<% for k in equipped.keys %>
	  <% if equipped[k].nil? %>
	  <dt>no <%= k %></dt><dd></dd>
	  <% else %>
	  <dt><%= k %></dt><dd><%= @game.inventory[ equipped[k] ]['item'] %></dd>
          <% end %>
	<% end %>
      </dl>
      <% end %>

      <% unless @game.spells_known.empty? %>
      <h3>Spells</h3>
      <table class='stats table table-condensed'>
	<thead>
	  <tr><th>Name</th><th>Type</th><th>Power</th><th>Failure</th><th>Level</th><th>Hunger</th>
	</thead>

	<tbody>
	<% for spell in @game.spells_known %>
	<tr>
	  <td><%= spell['name'] %></td>
	  <td><%= spell['type'].map{|t|DCSS::SPELL_TYPES[t]}.join(', ') %></td>
	  <td><%= spell['power'] %></td>
	  <td><%= spell['fail_rate'] %></td>
	  <td><%= spell['level'] %></td>
	  <td><%= spell['hunger'] %></td>
	</tr>
	<% end %>
	</tbody>
      </table>
      <% end %>

      <% unless @game.kills.keys.empty? 
	 for ktype in @game.kills.keys
	   vanquished = @game.kills[ktype] %>
           <h3>Vanquished (<%= ktype %>)</h3>
	   <ul class='unstyled'>
           <% for kill in vanquished %>
             <li><%= kill['amount'] %> <%= kill['creature'] %> <em><%= kill['location'] %></em>
           <% end %>
	   </ul>
         <% end %>
      <% end %>
      <% unless @game.ghost_kills.empty? %>
        <h4>Ghost kills</h4>
	<ul class='unstyled'>
        <% for kill in @game.ghost_kills %>
	  <!-- TODO - Parse and link to relevant account -->
          <li><%= kill['creature'] %> <em><%= kill['location'] %></em>
	<% end %>
	</ul>
      <% end %>
    </div>

  </div>

  <div class='span4'>
    <div id='vital-stats'>
      <h3>Vital Statistics</h3>

      <table class='stats table table-condensed'>
	<!-- TODO - More <abbr>, probably make a helper -->
	<tr>
	  <td>HP</td><td><%= @game.hp %><%= @game.maxhp ? " (#{@game.maxhp})" : '' %></td>
	  <td>AC</td><td><%= @game.ac %></td>
	  <td>Str</td><td><%= @game.str %></td>
	</tr>
	<tr>
	  <td>MP</td><td><%= @game.mp %></td>
	  <td>EV</td><td><%= @game.ev %></td>
	  <td>Int</td><td><%= @game.int %></td>
	</tr>
	<tr>
	  <td>Gold</td><td><%= @game.gold %></td>
	  <td>SH</td><td><%= @game.sh %></td>
	  <td>Dex</td><td><%= @game.dex %></td>
	</tr>
      </table>

      <h3>Resist, protect, control</h3>
      <table class='stats table table-condensed'>
	<% rk = @game.resistances.keys.sort
	   # TODO - Bootstrap icon helper
	   rIcons = { 'on' => 'plus', 'off' => 'minus', 'disabled' => 'remove' }
	   for idx in 0 .. 9 %>
	<tr>
	  <% for jdx in [idx, idx + 10] %>
	    <% rField = @game.resistances[rk[jdx]] %>
	    <td><%= rk[jdx] %></td>
	    <td>
 	      <% if rField =~ /\d/ %> 
	        <%= rField %>
	      <% else %>
	        <i class="icon-<%= rIcons[rField] %>" title="<%= rField %>"></i>
	      <% end %>
	    </td>
	  <% end %>
	</tr>
	<% end %>
      </table>

      <h3>Skills</h3>
      <table class='stats table table-condensed'>
	<% # XXX Yes this is a bit round-about.
	   skill_icons = { 'selected' => 'plus', 'deselected' => 'minus', 'focused' => 'asterisk', 'max' => 'ok' }
	   for sk in @game.skills.keys %>
	<tr>
	  <%# FIXME Bleh bug in bootstrap-sass breaks background-image because of a faulty $iconSpritePath %>
	  <% skill = @game.skills[sk] %>
	  <td><i class="icon-<%= skill_icons[skill['state']] %>" title="<%= skill['state'] %>"></i></td>
	  <td><%= sk %></td>
	  <td><%= skill['level'] %></td>
	</tr>
	<% end %>
      </table>
    </div>
  </div>
</div>

<hr/>

<p>
  <b>Game:</b>
  <%= @game.name %>
</p>

<p>
  <b>Player:</b>
  <%= link_to @player.name, [@player.user, @player] %>
</p>

<p>
  <b>Score:</b>
  <%= @game.score %>
</p>

<p>
  <b>Race:</b>
  <%= @game.race %>
</p>

<p>
  <b>Char class:</b>
  <%= @game.background %>
</p>

<p>
  <b>Version:</b>
  <%= @game.version %>
</p>

<p>
  <b>Level:</b>
  <%= @game.level %>
</p>

<p>
  <b>Character:</b>
  <%= @game.character %>
</p>

<p>
  <b>Xl:</b>
  <%= @game.xl %>
</p>

<p>
  <b>Title:</b>
  <%= @game.title %>
</p>

<p>
  <b>Place:</b>
  <%= @game.place %>
</p>

<p>
  <b>Branch:</b>
  <%= @game.branch %>
</p>

<p>
  <b>Lvl:</b>
  <%= @game.lvl %>
</p>

<p>
  <b>Ltyp:</b>
  <%= @game.ltyp %>
</p>

<p>
  <b>Hp:</b>
  <%= @game.hp %>
</p>

<p>
  <b>Maxhp:</b>
  <%= @game.maxhp %>
</p>

<p>
  <b>Maxmaxhp:</b>
  <%= @game.maxmaxhp %>
</p>

<p>
  <b>Str:</b>
  <%= @game.str %>
</p>

<p>
  <b>Int:</b>
  <%= @game.int %>
</p>

<p>
  <b>Dex:</b>
  <%= @game.dex %>
</p>

<p>
  <b>God:</b>
  <%= @game.god %>
</p>

<p>
  <b>Duration:</b>
  <%= @game.duration %>
</p>

<p>
  <b>Turn:</b>
  <%= @game.turns %>
</p>

<p>
  <b>Runes:</b>
  <%= @game.runes %>
</p>

<p>
  <b>Killertype:</b>
  <%= @game.killertype %>
</p>

<p>
  <b>Killer:</b>
  <%= @game.killer %>
</p>

<p>
  <b>Damage:</b>
  <%= @game.damage %>
</p>

<p>
  <b>Piety:</b>
  <%= @game.piety %>
</p>

<p>
  <b>End time:</b>
  <%= @game.end_time %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
