<p id="notice"><%= notice %></p>

<div id='morgue' class='row'>
  <div class='span8'>
    <div id='announce'>
      <h1><%= player @game %> the <abbr title="Experience Level">XL</abbr><%= @game.level %> <abbr title="<%= @game.race + ' ' + @game.background %>"><%= @game.combo %></abbr> <%= @game.title %></h1>
      <h4>
	<%= @game.ending.sub /!$/, '' %> with <u><%= @game.score %></u>
	<% unless @game.won %> at <%= @game.place %><% end %>
      </h4>
      <h4>It took <%= @game.turns %> turns in <%= @game.duration %></h4>
      <!-- Link to subsections with more details further down -->
      <% if @game.god %><h4><%= @game.standing %> of <%= @game.god %></h4><% end %>
    </div>

    <div id='status'>
      <% equipped = @game.equipped
	 if equipped['weapon'] %>
        <p><strong>Wielding <span class='equipped'><%= @game.inventory[ equipped['weapon'] ]['item'] %></span></strong></p>
      <% end %>
      <p><strong>Was <%= @game.character_state.to_sentence %></strong></p>
      <p><strong>Had <%= @game.character_features.to_sentence %></strong></p>
      <p><strong>Could <%= @game.character_abilities.to_sentence %></strong></p>

      <% if equipped.values.length != equipped.values.select{|e| e.nil?}.length %>
      <h3>Equipped</h3>
      <dl>
	<% for k in equipped.keys %>
	  <% if equipped[k].nil? %>
	  <dt>no <%= k %></dt><dd></dd>
	  <% else %>
	  <% item = @game.inventory[ equipped[k] ]['item'] %>
	  <%# TODO - Markup + abbreviate inscriptions e.g {rC+ Int+1} %>
	  <dt><%= k %></dt><dd><%= item.sub /\([^)]+\)/, '' %></dd>
          <% end %>
	<% end %>
      </dl>
      <% end %>
    </div>

    <div id='things'>
      <% unless @game.inventory.keys.empty? %>
        <h3>Inventory</h3>

        <% for inty in DCSS::INVENTORY_TYPES
	   items = @game.inventory.values.select{|i| i['type'] == inty}
	   next if items.empty? %>
        <h4><%= inty %></h4>
	<ul>
          <% for item in items %>
	    <li><%= item['item'] %>
	    <% if item['desc'] %>
              <blockquote><%= item['desc'] %></blockquote>
	    <% end %>
          <% end %>
	</ul>
        <% end %>
      <% end %>

      <% unless @game.spells_known.empty? %>
      <h3>Spells</h3>
      <table class='stats table table-condensed'>
	<thead>
	  <tr><th>Name</th><th>Type</th><th>Power</th><th>Failure</th><th>Level</th><th>Hunger</th>
	</thead>

	<tbody>
	<% for spell in @game.spells_known %>
	<tr>
	  <td><%= spell['name'] %></td>
	  <td><%= spell['type'].map{|t|DCSS::SPELL_TYPES[t]}.join(', ') %></td>
	  <td><%= spell['power'] %></td>
	  <td><%= spell['fail_rate'] %></td>
	  <td><%= spell['level'] %></td>
	  <td><%= spell['hunger'] %></td>
	</tr>
	<% end %>
	</tbody>
      </table>
      <% end %>
    </div>

    <div id='map'><h3>Message History</h3><pre><%= @game.map %></pre></div>

    <div id='vanquished'>
      <% unless @game.kills.keys.empty? 
	 for ktype in @game.kills.keys
	   vanquished = @game.kills[ktype] %>
           <h3>Vanquished (<%= ktype %>)</h3>
	   <a class='btn toggle-list'>
	     <span class='toggle-on'>Show</span><span class='toggle-off'>Hide</span>
	     full list
	   </a>
	   <ul class='unstyled bigthing'>
           <% for kill in vanquished %>
             <li><%= kill['amount'] %> <%= kill['creature'] %> <em><%= kill['location'] %></em>
           <% end %>
	   </ul>
         <% end %>
      <% end %>
      <% unless @game.ghost_kills.empty? %>
        <h4>Ghost kills</h4>
	<ul class='unstyled'>
        <% for kill in @game.ghost_kills %>
	  <!-- TODO - Parse and link to relevant account -->
          <li><%= kill['creature'] %> <em><%= kill['location'] %></em>
	<% end %>
	</ul>
      <% end %>
    </div>

    <div id='notes'>
      <h3>Notes</h4>
      <a class='btn toggle-list'>
	<span class='toggle-on'>Show</span><span class='toggle-off'>Hide</span>
	all
      </a>
      <table class='table table-condensed bigthing'>
      <% for note in @game.notes %>
        <tr>
	  <td><%= note['turn']  %></td>
	  <td><%= note['place'] %></td>
	  <td><%= note['note']  %></td>
	</tr>
      <% end %>
      </table>
    </div>

  </div>

  <div class='span4'>
    <div id='vital-stats'>
      <h3>Vital Statistics</h3>

      <table class='stats table table-condensed'>
	<!-- TODO - More <abbr>, probably make a helper -->
	<tr>
	  <td>HP</td><td><%= @game.hp %><%= @game.maxhp ? " (#{@game.maxhp})" : '' %></td>
	  <td>AC</td><td><%= @game.ac %></td>
	  <td>Str</td><td><%= @game.str %></td>
	</tr>
	<tr>
	  <td>MP</td><td><%= @game.mp %></td>
	  <td>EV</td><td><%= @game.ev %></td>
	  <td>Int</td><td><%= @game.int %></td>
	</tr>
	<tr>
	  <td>Gold</td><td><%= @game.gold %></td>
	  <td>SH</td><td><%= @game.sh %></td>
	  <td>Dex</td><td><%= @game.dex %></td>
	</tr>
      </table>

      <h3>Resist, protect, control</h3>
      <table class='stats table table-condensed'>
	<% rk = @game.resistances.keys.sort
	   # TODO - Bootstrap icon helper
	   rIcons = { 'on' => 'plus', 'off' => 'minus', 'disabled' => 'remove' }
	   for idx in 0 .. 9 %>
	<tr>
	  <% for jdx in [idx, idx + 10] %>
	    <% rField = @game.resistances[rk[jdx]] %>
	    <td><%= rk[jdx] %></td>
	    <td>
 	      <% if rField =~ /\d/ %> 
	        <%= rField %>
	      <% else %>
	        <i class="icon-<%= rIcons[rField] %>" title="<%= rField %>"></i>
	      <% end %>
	    </td>
	  <% end %>
	</tr>
	<% end %>
      </table>

      <h3>Skills</h3>
      <table class='stats table table-condensed'>
	<% # XXX Yes this is a bit round-about.
	   skill_icons = { 'selected' => 'plus', 'deselected' => 'minus', 'focused' => 'asterisk', 'max' => 'ok' }
	   for sk in @game.skills.keys %>
	<tr>
	  <%# FIXME Bleh bug in bootstrap-sass breaks background-image because of a faulty $iconSpritePath %>
	  <% skill = @game.skills[sk] %>
	  <td><i class="icon-<%= skill_icons[skill['state']] %>" title="<%= skill['state'] %>"></i></td>
	  <td><%= sk %></td>
	  <td><%= skill['level'] %></td>
	</tr>
	<% end %>
      </table>

      <% if @game.won %>
      <h3>Runes</h3>
      <ol>
	<% for rune in @game.rune_list %>
          <li><%= rune.titleize %>
        <% end %>
      </ol>
      <% end %>
    </div>
  </div>
</div>

<p id="pointer-up"><a href="#thetop"><i class="icon-arrow-up"></i> Go to the top of the page</a></p>
