<p id="notice"><%= notice %></p>

<p>
  <b>Game:</b>
  <%= @game.game %>
</p>

<p>
  <b>User:</b>
  <%= link_to @game.user.name, @game.user %>
</p>

<p>
  <b>Start time:</b>
  <%= @game.start_time %>
</p>

<p>
  <b>Score:</b>
  <%= @game.score %>
</p>

<p>
  <b>Race:</b>
  <%= @game.race %>
</p>

<p>
  <b>Char class:</b>
  <%= @game.background %>
</p>

<p>
  <b>Version:</b>
  <%= @game.version %>
</p>

<p>
  <b>Level:</b>
  <%= @game.level %>
</p>

<p>
  <b>Character:</b>
  <%= @game.character %>
</p>

<p>
  <b>Xl:</b>
  <%= @game.xl %>
</p>

<p>
  <b>Skill:</b>
  <%= @game.skill %>
</p>

<p>
  <b>Sk lev:</b>
  <%= @game.sk_lev %>
</p>

<p>
  <b>Title:</b>
  <%= @game.title %>
</p>

<p>
  <b>Place:</b>
  <%= @game.place %>
</p>

<p>
  <b>Branch:</b>
  <%= @game.branch %>
</p>

<p>
  <b>Lvl:</b>
  <%= @game.lvl %>
</p>

<p>
  <b>Ltyp:</b>
  <%= @game.ltyp %>
</p>

<p>
  <b>Hp:</b>
  <%= @game.hp %>
</p>

<p>
  <b>Maxhp:</b>
  <%= @game.maxhp %>
</p>

<p>
  <b>Maxmaxhp:</b>
  <%= @game.maxmaxhp %>
</p>

<p>
  <b>Str:</b>
  <%= @game.str %>
</p>

<p>
  <b>Int:</b>
  <%= @game.int %>
</p>

<p>
  <b>Dex:</b>
  <%= @game.dex %>
</p>

<p>
  <b>God:</b>
  <%= @game.god %>
</p>

<p>
  <b>Duration:</b>
  <%= @game.duration %>
</p>

<p>
  <b>Turn:</b>
  <%= @game.turn %>
</p>

<p>
  <b>Runes:</b>
  <%= @game.runes %>
</p>

<p>
  <b>Killertype:</b>
  <%= @game.killertype %>
</p>

<p>
  <b>Killer:</b>
  <%= @game.killer %>
</p>

<p>
  <b>Damage:</b>
  <%= @game.damage %>
</p>

<p>
  <b>Piety:</b>
  <%= @game.piety %>
</p>

<p>
  <b>End time:</b>
  <%= @game.end_time %>
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
