<h1>Listing players</h1>

<table>
  <tr>
    <th>Game</th>
    <th>Name</th>
    <th>Embedded in</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.game %></td>
    <td><%= player.name %></td>
    <td><%= player.embedded_in %></td>
    <td><%= link_to 'Show', player %></td>
    <td><%= link_to 'Edit', edit_player_path(player) %></td>
    <td><%= link_to 'Destroy', player, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Player', new_player_path %>
