<p id="notice"><%= notice %></p>

<div class='row'>
  <div class='span8'>
    <h1><%= @player.name %></td>
    <h4>Recent games</h4>
    <div class='game-listing'>
      <%= render 'shared/selections' %>
      <table class='table table-striped table-condensed'>
        <thead>
          <tr>
            <th><%= link_to_with 'Score', sort: 'score' %></th>
            <th>Character</th>
            <!-- TODO Only show valid options! -->
            <th><%= render 'shared/combo_filter' %></th>
            <th><%= render partial: 'shared/column_filter',
                    locals: { column: 'God', filterables: DCSS::GODS, param: 'god' }
                    %>
            </th>
            <th><abbr title="Experience Level">XL</abbr></th>
            <th>Killer</th>
          </tr>
        </thead>
        <tbody>
          <% for game in @games.desc(:end_time).limit(10) %>
          <tr>
	    <td><%= link_to game.score, game_path(game) %>
	      <% if game.won %><i class="icon-star" title="Won!"></i><% end %></td>
            <td><%= game.character %> the <%= game.title %></td>
            <td><%= game.race %> <%= game.background %></td>
            <td><%= game.god || '-' %></td>
            <td><%= game.xl %></td>
	    <td><%= game.ending_str %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @games %>
    </div>
  </div>
  <div class='span4'>
    <h4>Totals</h4>
    <dl class="dl-horizontal">
      <dt>Games played</dt><dd><%= @totals.played || '-' %></dd>
      <dt>Total kills</dt> <dd><%= @totals.kills  || '-' %></dd>
      <dt>Turns used</dt>  <dd><%= @totals.turns || '-' %></dd>
      <dt>Gold found</dt>  <dd><%= @totals.gold || '-' %></dd>
      <dt>XP levelled</dt> <dd><%= @totals.xls || '-' %></dd>
    </dl>
    <% unless @games.empty? %>
    <h4>Favourites</h4>
    <dl class="dl-horizontal">
      <% for fave in %w{race background god} %>
      <% next if @faves[fave.to_sym].empty? %>
      <dt><%= fave.titleize %></dt>
      <dd>
	<ul class='unstyled favourites-list'>
	<% top_faves = @faves[fave.to_sym].sort_by{|_,t| -t}[0 .. 2]
	   for fave, total in top_faves %>
	  <li><%= fave %> x <em><%= total.to_i %></em>
	<% end %>
	</ul>
      </dd>
      <% end %>
    <% end %>
    <% unless @nemeses.empty? %>
    <h4>Nemeses</h4>
    <dl class="dl-horizontal">
    <% for nemesis, kills in @nemeses.sort_by{|_,k| -k}[0 .. 5] %>
      <dt><%= nemesis %></dt><dd><%= kills.to_i %></dd>
    <% end %>
    </dl>
    <% end %>

    <!--
    <% if @user == current_user %>
      <p><i class="icon-plus-sign"></i><%= link_to 'Add game', new_game_path(:player => @player.id) %></p>
      <p><%= link_to 'Edit', edit_user_player_path(@user, @player) %></p>
    <% end %>
    <% if @user.players.length > 1 %>
      <p><%= link_to "The user page of #{@user.name}", user_players_path %></p>
    <% end %>
    -->
  </div>
</div>
