<p id="notice"><%= notice %></p>

<p>
  <b>For game:</b>
  <%= @player.for_game %>
</p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<% if @games.any? %>
  <h3>Games</h3>
  <ul>
    <% for game in @games.desc(:score) %>
      <% # needs a helper %>
      <li><%= link_to "#{game.score} #{game.character} the #{game.title} (level #{game.level}, #{game.race} #{game.background})", game_path(game) %>
    <% end %>
  </ul>
<% end %>

<p><%= link_to 'Add game', new_game_path(:player => @player.id) %></p>
<% if @user == current_user %><%= link_to 'Edit',
                                  edit_user_player_path(@user,
                                                        @player)
                                  %> |<% end %>
<%= link_to 'Back', user_players_path %>
